<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postMapper">
	<select id="listCount" resultType="_int"
		parameterType="ListInfo">		
		select count(post_no)
		from plist p
    		left join ulist using (user_no)
			left join (select like_no, post_no from bmp_like where user_no=#{accessorNo}) using (post_no)
    		left join (select user_no, 'block' blocked from(
    						select ulist.*, to_user, fu from ulist
       							left join (select to_user, from_user from bmp_block where from_user=#{accessorNo}) on (user_no=to_user)
        						left join (select from_user fu, to_user tu from bmp_block where to_user=#{accessorNo}) on (user_no=fu)
           					order by from_user) 
						where to_user is not null or fu is not null) using (user_no)
		<where>
		<if test="blogNo ==  0">
   			user_private='N'
   		</if>
		<if test="blogNo > 0 and tab != 'like'">
			user_no = #{blogNo}
		</if>
		<if test="keyword != ''">
	 		and (tag_name like #{keyword}||'%')
	 	</if>
		<choose>
			<when test="tab=='hide'">
				and post_hide_date is not null
			</when>
			<otherwise>
				and post_hide_date is null
			</otherwise>
		</choose>
		<if test="tab == 'like'">
			and like_no is not null
		</if>
		<if test="accessorNo > 0">
			and blocked is null
		</if>
		</where>
	</select>
	
	<select id="getPostList" resultMap="postResultMap" resultType="Post" parameterType="ListInfo">
		select post_no, post_title, post_content, post_reg_date, post_del_date, post_hide_date, user_no, 
			p.file_name, countcomment, tag_no, tag_name, countlike, user_nickname, nvl(like_no,0) liked, blocked
		from plist p
    		left join ulist using (user_no)
			left join (select like_no, post_no from bmp_like where user_no=#{accessorNo}) using (post_no)
    		left join (select user_no, 'block' blocked from(
    						select ulist.*, to_user, fu from ulist
       							left join (select to_user, from_user from bmp_block where from_user=#{accessorNo}) on (user_no=to_user)
        						left join (select from_user fu, to_user tu from bmp_block where to_user=#{accessorNo}) on (user_no=fu)
           					order by from_user) 
						where to_user is not null or fu is not null) using (user_no)
		<where>
		<if test="blogNo ==  0">
   			user_private='N'
   		</if>
		<if test="blogNo > 0 and tab != 'like'">
			user_no = #{blogNo}
		</if>
		<if test="keyword != ''">
	 		and (tag_name like #{keyword}||'%')
	 	</if>
		<choose>
			<when test="tab=='hide'">
				and post_hide_date is not null
			</when>
			<otherwise>
				and post_hide_date is null
			</otherwise>
		</choose>
		<if test="tab == 'like'">
			and like_no is not null
		</if>
		<if test="accessorNo > 0">
			and blocked is null
		</if>
		</where>
		<choose>
			<when test="sort == '인기순'">
				order by countlike
			</when>
			<when test="sort == '조회순'">
				order by post_count
			</when>
			<otherwise>
				order by post_reg_date
			</otherwise>
		</choose>
		desc, post_no desc
	</select>
		
	<select id="getPost" resultMap="postResultMap">
		select * from plist where post_no=#{no}
	</select>	
	
	<insert id="addPost" useGeneratedKeys="false">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select post_seq.nextval from dual
		</selectKey>
		insert into bmp_post
		values (#{no},#{title},#{content},0,sysdate,null,null,null,#{userNo})
	</insert>
	
	<insert id="addFile" parameterType="AttachedFile">
		insert into bmp_file
		values (file_seq.nextval,#{name},#{fileClass},#{userNo},
		<choose>
			<when test="postNo > 0">
				#{postNo},null)
			</when>
			<otherwise>
				null,#{reportNo})
			</otherwise>
		</choose>
	</insert>
	<insert id="addLike" parameterType="Like">
		insert into bmp_like
		values (like_seq.nextval,sysdate,#{userNo},
		<choose>
			<when test="commentNo==0">
				null,#{postNo})
			</when>
			<otherwise>
				#{commentNo},null)
			</otherwise>
		</choose>
	</insert>
	<delete id="delLike" parameterType="Like">
		delete from bmp_like
		where user_no=#{userNo} and
		<choose>
			<when test="postNo > 0">
				post_no=#{postNo}
			</when>
			<otherwise>
				comment_no=#{commentNo}
			</otherwise>
		</choose>
	</delete>
	
	<resultMap type="Post" id="postResultMap">
		<id property="no" column="post_no" />
		<result property="title" column="post_title" />
		<result property="content" column="post_content" />
		<result property="count" column="post_count" />
		<result property="regDate" column="post_reg_date" />
		<result property="editDate" column="post_edit_date" />
		<result property="delDate" column="post_del_date" />
		<result property="hideDate" column="post_hide_date" />
		<result property="userNo" column="user_no" />
		<result property="fileName" column="file_name" />
		<result property="countComment" column="countcomment" />
		<result property="countLike" column="countlike" />
		<result property="nickname" column="user_nickname" />
		<result property="like" column="liked" />
		<collection property="tagList" javaType="arraylist" resultMap="tagResultMap"></collection>
		<collection property="commentList" javaType="arraylist" resultMap="commentResultMap"></collection>
	</resultMap>
	
	<resultMap type="Tag" id="tagResultMap">
	<id property="no" column="tag_no"/>
	<result property="name" column="tag_name"/>
	<result property="postNo" column="tag_post_no"/>
	</resultMap>
	
	<resultMap type="Comment" id="commentResultMap">
	<id property="no" column="comment_no"/>
	<result property="content" column="comment_content"/>
	<result property="postNo" column="comment_post_no"/>
	<result property="userNo" column="comment_user_no"/>
	<result property="nickname" column="comment_user_nickname"/>
	</resultMap>
	
	<resultMap type="AttachedFile" id="fileResultMap">
	<id property="no" column="file_no"/>
	<result property="name" column="file_name"/>
	<result property="fileClass" column="file_class"/>
	<result property="userNo" column="user_no"/>
	<result property="postNo" column="post_no"/>
	<result property="reportNo" column="report_no"/>
	</resultMap>
</mapper>
